.Configure
    &__Menu
        padding: 20px 
        font-size: 15px
        .v-icon
            font-size: 15px
            padding: 0 5px 2px 0
        span:hover
                cursor: pointer
    &__Menu-Item
        margin: 0 25px 0 0
    &__Table 
        margin: 20px
        width: 100%
    .AmazonS3
        height: 30px
        width: 30px
    .Snowflake
        height: 30px
        width: 120px