@import "views/Auth/register"
@import "views/Auth/forgot-password"
@import "views/Auth/login"
@import "views/Auth/reset-password"
@import "views/Auth/auth-common"
@import "views/Marketplace/index"
@import "views/Config/index"
@import "views/Schedules/index"
@import "views/Compose/index"
@import "components/navigation/app-header"
@import "components/navigation/nav-drawer"
@import "components/navigation/app-footer"
@import "components/navigation/app-subheader"

.textCapitalize
  text-transform: capitalize
