
/** 
* This stylesheet sets the styles shared by register,
* login, reset-password, and forgot-password. 
*/
.Logo     
    height: 150px
    width: 150px
    margin: 0 30px

.Auth
    &__Container
        display: grid
        justify-items: center
    &__Header 
        font-family: 'Montserrat', sans-serif
        font-weight: 300
        font-size: 35px
    &__SubHeader
        font-family: 'Montserrat', sans-serif
        font-weight: 200
        font-size: 20px
        line-height: 2.5
    &__SubHeader-Link 
        font-weight: 400
        text-decoration: none
    &__Acknowledgement 
        font-weight: 300
        width: 300px
        text-align: center
        padding: 15px 0
    &__Acknowledgement-Link 
        font-weight: 300 
        text-decoration: none

.v-form 
    width: 100%