.Login
    &__Container 
        width: 326px
    &__ForgotPassword
        text-decoration: none
        display: block

.Login .v-btn--block
    width: 120px
    border-radius: 50px
    margin: 0 auto

/** Checkbox extra margin/padding removal */
.Login .v-input--selection-controls 
    margin-top: 0
    padding: 0
.Login .v-messages
    display: none

/** Checkbox size*/
.Login i 
    font-size: 15px
/** Checkbox wrapper size */
.Login .v-input--selection-controls__input
.Login .v-input--selection-controls__ripple 
    height: 15px
    width: 15px
/** Checkbox label*/
.Login .v-label 
    font-size: 14px
    font-weight: 400
    
