.ResetPassword .v-btn--block
    width: 140px
    border-radius: 50px
    margin: 0 auto

.ResetPassword
    &__ButtonLink
        text-align: center
        margin: 10px 0
    &__ButtonLink a 
        text-decoration: none